FlexboxLayout {
    justify-content: center;
    align-items: center;
}

StackLayout {
    width: 300;
    padding: 10 16;
}

Textfield {
    margin-bottom: 10;
}

.btn-primary {
    margin-left: 0;
    margin-right: 0;
}